@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
	padding: 80px;
	padding-top: 110px;
	width: 100%;
	background: hsl(210, 46%, 95%);
}
main{
	padding: 5px;
}
h2{
	font-size: 23.5px;
	letter-spacing: 0px;
	font-weight: 600;
	margin-top: 15px;
	color: hsl(210, 46%, 95%);
}
p{
	font-weight: 500;
	color: hsl(0, 0%, 81%);
}
.bg-quotation{
	background: url(images/bg-pattern-quotation.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 21%;
	left: 38%;
	width: 400px;
	height: 500px;
	opacity: 100%;
	z-index: -1;
}
.testimonial-top{
	display: flex;
}
.testimonial-bottom{
	display: flex;
	margin-top: -326px;
	width: 90%;
}
.test-daniel{
	flex-basis: 90%;
	height: 20%;
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	z-index: 0;
	background-color: hsl(263, 55%, 52%);
}
.test-jonathan{
	flex-basis: 35%;
	height: 20%;
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	background-color: hsl(217, 19%, 35%);
}
.test-jeanette{
	flex-basis: 19%;	
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 100%);
}
.test-patrick{
	flex-basis: 48%;
	height: 30%;
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	background-color: hsl(219, 29%, 14%);
}
.test-kira{
	flex-basis: 37%;
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 100%);
}
.test-whittle{
	display: none;
	flex-basis: 37%;
	padding: 35px;
	padding-top: 30px;
	margin: 15px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 100%);
}
.name{
	display: flex;
}
span{
	display: block;
	font-size: 13px;
	opacity: 50%;
}
.name img{
	width: 30px;
	height: 30px;
	border-radius: 50px;
}
.test-daniel img{
	border: 2px solid hsl(210, 46%, 95%, 30%);
}
.test-patrick img{
	border: 2px solid hsl(263, 55%, 52%);
}
.name p{
	font-weight: 600;
	margin: -3px 0 0 20px;
}
.text p{
	opacity: 70%;
}
.test-kira h2{
	margin-bottom: 20px;
}
.test-jeanette p, .test-kira p{
	color: hsl(217, 19%, 35%);
}
.test-jeanette h2, .test-kira h2{
	color: hsl(217, 19%, 35%);
}
.test-daniel h2{
	z-index: 1;
	color: hsl(0, 0%, 100%);
}
@media(max-width: 375px){
	body{
		padding: 0px;
	}
	main{
		padding-top: 70px;
	}
	h2{
		font-size: 18px;
		line-height: 25px;
	}
	p{
		font-size: 13px;
		line-height: 20px;
	}
	.container{
		display: block;
	}
	.bg-quotation{
		position: absolute;
		top: 13%;
		left: 60%;
		z-index: 0;
		opacity: 100%;
	}	
	.testimonial-top{
		display: block;
	}
	.testimonial-bottom{
		display: block;
		margin-top: 0;
		width: 100%;
	}
	.test-daniel h2{
		opacity: 99%;
	}
	.test-daniel, .test-jonathan, .test-jeanette, .test-patrick{
		margin-bottom: 30px;
	}
	.test-kira{
		display: none;
	}
	.test-whittle{
		display: block;
		margin-bottom: 70px;
	}
	.test-whittle p, .test-whittle h2{
		color: hsl(217, 19%, 35%);
	}
/*}
@media(max-width: 800px){
	body{
		padding: 0px;
	}
	main{
		padding-top: 70px;
	}
	h2{
		font-size: 18px;
		line-height: 25px;
	}
	p{
		font-size: 13px;
		line-height: 20px;
	}
	.container{
		display: block;
	}
	.bg-quotation{
		position: absolute;
		top: 13%;
		left: 60%;
		z-index: 0;
		opacity: 100%;
	}	
	.testimonial-top{
		display: block;
	}
	.testimonial-bottom{
		display: block;
		margin-top: 0;
		width: 100%;
	}
	.test-daniel h2{
		opacity: 99%;
	}
	.test-daniel, .test-jonathan, .test-jeanette, .test-patrick{
		margin-bottom: 30px;
	}
	.test-kira{
		display: none;
	}
	.test-whittle{
		display: block;
		margin-bottom: 70px;
	}
	.test-whittle p, .test-whittle h2{
		color: hsl(217, 19%, 35%);
	}
	.name p{

	}
}
*/